{{ template "header_admin" }}

        <main role="main" class="inner cover">
            <div class="container">
                <h1>Add Artist</h1>
                    <form action="/api_admin/save_artist" class="lead" method="post">
                        <div class="form-group">
                            <label for="name_artist">name of artist or band</label>
                            <input type="text" class="form-control" name="name_artist" id="name_artist">
                        </div>
                        <div class="form-group">
                            <label for="date_of_birth">date of birth or establishment</label>
                            <input type="text" class="form-control" name="date_of_birth" id="date_of_birth">
                        </div>
                        <div class="form-group">
                            <label for="about_artist">about artist or band</label>
                            <textarea class="form-control" name="about_artist" id="about_artist" rows="5"></textarea>
                        </div>
                        <input type="submit" value="Add Artist" class="btn btn-outline-success">
                    </form>
            </div> 
        </main>

{{ template "footer" }}