{{ if .IsAdmin }}
{{ template "header_admin" }}
{{ else }}
{{ template "header_user" }}
{{ end }}

        <h1>Artist Information</h1>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by name" id="searchArtist">
            <button class="btn btn-outline-secondary" type="button" onclick="searchArtist()">Search</button>
        </div>

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name Artist or Band</th>
                    <th>Date of Birth/Establishment</th>
                    <th>About</th>
                </tr>
            </thead>
            <tbody>
                {{ if .IsAdmin }}
                {{range .Artists}}
                <tr class="artistRow">
                    <td>{{.ID}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Birth}}</td>
                    <td>{{.About}}</td>
                    <td>
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <a class="btn btn-outline-primary" href="/api_admin/update_artist/{{.ID}}">Edit</a>
                            <a class="btn btn-outline-danger" href="#" onclick="deleteArtist('{{.ID}}')">Delete</a>
                            <a class="btn btn-outline-info" href="/api_admin/playlist/{{.ID}}">Playlist</a>
                        </div>
                    </td>
                </tr>
                {{end}}
                {{ else }}
                {{range .Artists}}
                <tr class="artistRow">
                    <td>{{.ID}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Birth}}</td>
                    <td>{{.About}}</td>
                    <td>
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <a class="btn btn-outline-info" href="/api_user/playlist/{{.ID}}">Playlist</a>
                        </div>
                    </td>
                </tr>
                {{end}}
                {{ end }}
            </tbody>
        </table>

        <script src="/js/search.js"></script>
        <script src="/js/delete.js"></script>
                
        {{ template "footer" }}