{{ if .IsAdmin }}
{{ template "header_admin" }}
{{ else }}
{{ template "header_user" }}
{{ end }}

        <h1>Playlist By Artist</h1>
	    <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Second Genre</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                {{range .Songs}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Genre}}</td>
                    <td>{{.Genre2}}</td>
                    <td>{{.Year}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>

        {{ template "footer" }}


