{{ template "header_admin" }}

        <main role="main" class="inner cover">
            <div class="container">
                <form action="/api_admin/save_changes_artist/{{.ArtistID}}" id="update-form" class="lead" method="POST">
                    <div class="form-group">
                        <label for="name_artist">name of artist or band</label>
                        <input type="text" class="form-control" name="name_artist" id="name_artist" value="{{.ArtistData.Name}}">
                    </div>
                    <div class="form-group">
                        <label for="date_of_birth">date of birth or establishment</label>
                        <input type="text" class="form-control" name="date_of_birth" id="date_of_birth" value="{{.ArtistData.Birth}}">
                    </div>
                    <div class="form-group">
                        <label for="about_artist">about artist or band</label>
                        <textarea class="form-control" name="about_artist" id="about_artist" rows="5">{{.ArtistData.About}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Save</button>
                </form>
            </div>
        </main>
        <script src="/js/updates.js"></script>

        {{ template "footer" }}